<!-- header -->
<div class="header row d-flex align-items-center justify-content-center px-5 pb-5 pt-3 mb-5 position-relative"
    style="width: 100%; height: 800px;">

    <!--  text -->
    <div class="col-lg-7 col-md-12 d-flex flex-column">
        <!-- animated text -->
        <div id="container" class="d-flex justify-content-center">
            <span id="text1"></span>
            <span id="text2"></span>
        </div>
        <svg id="filters" style="position: absolute; top: 0; left: 0;">
            <defs>
                <filter id="threshold">
                    <feColorMatrix in="SourceGraphic" type="matrix" values="1 0 0 0 0
                                            0 1 0 0 0
                                            0 0 1 0 0
                                            0 0 0 255 -140" />
                </filter>
            </defs>
        </svg>

        <div class="text-muted" id="text-box">
            <h1 class="subtitle">Junior Full-stack Developer</h4>
        </div>
        <!-- //static text -->
    </div>
    <!-- // text -->
</div>
<!-- //header -->

<!-- About Me -->
<div id="about" class="" style="margin: 250px 0;">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-3 col-md-12 text-md-center text-sm-center text-xs-center mb-3">
            <img src="./images/meme-resized..png" alt="profile-img"
                style="z-index:888; max-width:200px; object-fit:contain; border-radius: 50%;">
        </div>
        <div class="col-lg-5 col-md-6 col-sm-8 col-xs-10">
            <h2 class="text-md-center text-sm-center text-xs-center mb-3">Hi! I'm Dain</h2>
           <p>I am a self-motivated software engineer graduating with a degree in Computer Programming.</p>
<p>I have gained practical experience through a co-op internship and have developed skills in data analysis, visualization, and project management over 6+ years in sales, including managerial roles.</p>
        </div>
    </div>
</div>


<!-- Skills -->
<div id="skills" class="skills-container position-relative py-5" style="z-index:888; margin-bottom: 350px;">

    <div class="col-12 my-3 py-3">
        <h1 class="text-center" style="color:#312222">Skills</h1>
    </div>

    <div class="p-5 d-flex justify-content-center">
      <div>
        <div class="row g-3 justify-content-center">
        <div class="col-auto">
            <div class="position-relative">
                <span class="bg-success py-2 px-3 rounded text-white">.NET</span>
                <i class="bi bi-star-fill position-absolute top-0 start-100 translate-middle text-warning"></i>
            </div>
        </div>
        <div class="col-auto">
            <div class="position-relative">
                <span class="bg-success py-2 px-3 rounded text-white">C#</span>
                <i class="bi bi-star-fill position-absolute top-0 start-100 translate-middle text-warning"></i>
            </div>
        </div>
        <div class="col-auto">
            <div class="position-relative">
                <span class="bg-success py-2 px-3 rounded text-white">JavaScript</span>
                <i class="bi bi-star-fill position-absolute top-0 start-100 translate-middle text-warning"></i>
            </div>
        </div>
        <div class="col-auto">
            <div class="position-relative">
                <span class="bg-success py-2 px-3 rounded text-white">Node.js</span>
                <i class="bi bi-star-fill position-absolute top-0 start-100 translate-middle text-warning"></i>
            </div>
        </div>
        <div class="col-auto">
            <div class="position-relative">
                <span class="bg-success py-2 px-3 rounded text-white">Java</span>
                <i class="bi bi-star-fill position-absolute top-0 start-100 translate-middle text-warning"></i>
            </div>
        </div>
        <div class="col-auto">
            <div class="position-relative">
                <span class="bg-success py-2 px-3 rounded text-white">SQL</span>
                <i class="bi bi-star-fill position-absolute top-0 start-100 translate-middle text-warning"></i>
            </div>
        </div>
        <div class="col-auto">
            <div class="position-relative">
                <span class="bg-success py-2 px-3 rounded text-white">HTML+CSS</span>
                <i class="bi bi-star-fill position-absolute top-0 start-100 translate-middle text-warning"></i>
            </div>
        </div>
    </div>

     <div class="row g-3 justify-content-center mt-5">
        <div class="col-auto">
            <span class="bg-success py-2 px-3 rounded text-white">React</span>   
        </div>
        <div class="col-auto"> 
            <div class="position-relative">
                <span class="bg-success py-2 px-3 rounded text-white">Python</span>
                <i class="bi bi-star-fill position-absolute top-0 start-100 translate-middle text-warning"></i>      
            </div> 
        </div>
         <div class="col-auto"> 
            <span class="bg-success py-2 px-3 rounded text-white">Android</span> 
         </div>
          <div class="col-auto"> 
            <span class="bg-success py-2 px-3 rounded text-white">Kotlin</span>          
          </div>
     </div>

       <div class="row g-3 justify-content-center mt-5">
        <div class="col-auto">
            <span class="bg-secondary py-2 px-3 rounded text-white">Unity</span>              
        </div>
        <div class="col-auto"> 
             <span class="bg-secondary py-2 px-3 rounded text-white">PHP</span>       
        </div>
         <div class="col-auto"> 
            <span class="bg-secondary py-2 px-3 rounded text-white">Angular</span> 
         </div>
          <div class="col-auto"> 
             <span class="bg-secondary py-2 px-3 rounded text-white">Linux</span>          
          </div>
     </div>

    </div>  
    
    </div>
</div>
<!-- //Skills -->


<!-- timeline -->
<div class="timeline-container position-relative d-flex justify-content-center mt-5" style="z-index:888;">
    <div class="container-fluid" style="width: 80%">
        <div class="col-12 my-3 py-3">
            <h1 class="text-center" style="color:#312222">Timeline</h1>
        </div>

        <div class="row py-5 my-5 align-items-center experience hidden">
            <div class="col-md-4 col-sm-12 work-position order-md-1 order-sm-3 text-md-end text-sm-center">
                <p class="my-0">Co-op & Part time</p>
                <small class="d-block">Georgian College</small>
                <small class="d-block">R&I Department</small>
                <small class="d-block">Barrie, ON, Canada</small>
            </div>
            <div class="col-md-4 col-sm-12 timeline order-md-2 order-sm-2 ">
                <p class="time text-center">2024 ~ 2024.08</p>
            </div>
            <div class="col-md-4 col-sm-12 graphic order-md-3 order-sm-1 ">
                <img class="rounded" src="./images/GeorgianR&I.jpg" style="width:150px;" alt="">
            </div>
        </div>

        <div class="row py-5 my-5 align-items-center experience hidden">
            <div class="col-md-4 col-sm-12 graphic order-md-1 order-sm-1 text-md-end text-sm-center">
                <img class="rounded" src="./images/Georgian+College.png" style="width:150px;" alt="">
            </div>
            <div class="col-md-4 col-sm-12 text-center timeline order-md-2 order-sm-2">
                <p class="time text-center">2023 ~ 2024.08</h2>
            </div>
            <div class="col-md-4 col-sm-12 work-position order-md-3 order-sm-3 text-md-start text-sm-center">
                <p class="my-0">Computer Programming</p>
                <small class="d-block">Georgian College</small>
                <small class="d-block">Diploma</small>
                <small class="d-block">Barrie, ON, Canada</small>
            </div>
        </div>

        <div class="row py-5 my-5 align-items-center experience hidden">
            <div class="col-md-4 col-sm-12 work-position order-md-1 order-sm-3 text-md-end text-sm-center">
                <p class="my-0">Sales Manager</p>
                <small class="d-block">SNA</small>
                <small class="d-block">IT Service & Hardware</small>
                <small class="d-block">Seoul, Korea</small>
            </div>
            <div class="col-md-4 col-sm-12 text-center timeline order-md-2 order-sm-2">
                <p class="time text-center">2020 ~ 2022</p>
            </div>
            <div class="col-md-4 col-sm-12 graphic text-md-start text-sm-center order-md-3 order-sm-1">
                <img src="./images/sna_new_logo_scr.png" style="width:150px;" alt="">
            </div>
        </div>

        <div class="row py-5 my-5 align-items-center experience hidden">
            <div class="col-md-4 col-sm-12 work-position order-md-3 order-sm-3 text-md-start text-sm-center">
                <p class="my-0">Sales Manager</p>
                <small class="d-block">Hai'aosi</small>
                <small class="d-block">Catering Service</small>
                <small class="d-block">Shanghai, China</small>
            </div>
            <div class="col-md-4 col-sm-12 text-center timeline order-md-2 order-sm-2">
                <p class="time text-center">2017 ~ 2019</p>
            </div>
            <div class="col-md-4 col-sm-12 graphic text-md-end text-sm-center order-md-1 order-sm-1">
                <img src="./images/undraw_file_manager_re_ms29.svg" style="width:200px;" alt="">
            </div>
        </div>

        <div class="row py-5 my-5 align-items-center experience hidden">
            <div class="col-md-4 col-sm-12 graphic text-md-start text-sm-center order-md-3 order-sm-1">
                <img src="./images/Sejong_University_logo.svg.png" style="width:150px;" alt="">
            </div>
            <div class="col-md-4 col-sm-12 text-center timeline order-md-2 order-sm-2">
                <p class="time text-center">2012 ~ 2014</p>
            </div>
            <div class="col-md-4 col-sm-12 order-md-1 work-position order-sm-3 text-md-end text-sm-center">
                <p class="my-0">Chinese Studies</p>
                <small class="d-block">Sejong University</small>
                <small class="d-block">B.A.</small>
                <small class="d-block">Seoul, Korea</small>
            </div>
        </div>
    </div>
</div>
<!--//timeline-->



<!-- projects -->
<div id="projects" class="position-relative" style=" margin: 250px 0; z-index:888;">
    <h1 class="text-center my-3 py-3" style="color:#312222;">PROJECTS</h1>

    <div class="row py-5 mt-5 px-3">
        <div class="col-lg-5 col-md-5 py-5 px-5 position-relative shadow"
            style="background: #333; border-radius: 0 150px 0 0; height: 320px;">
            <div class="py-4 px-5 position-absolute w-100 d-flex justify-content-center align-items-center"
                style="background: #fff7f3;; border-radius: 0 150px 0 0; height: 290px; top:30px; right: 30px;">
                <img class="" src="/images/projects/QP_logo.png" style="width:200px;" alt="">
            </div>
        </div>
        <div class="col-lg-4 col-md-5 ps-5 pt-5 position-relative">
            <div class="mb-3"><span class="h4">Quality Print</span>
            <span class="badge rounded-pill text-bg-success">Commercial</span></div>
            <p>An e-commerce website for a printing company specializing in custom design creation.</p>
            <div class="position-absolute bottom-0" style="right:0;"><a class="btn btn-primary border-radius-0"
                    href="/qualityPrint">Learn More</a></div>
        </div>
        <div class="col-lg-1 col-md-0 col-sm-0 py-5 px-5 position-relative"></div>
    </div>

    <div class="row py-5 mt-5 px-3 d-flex justify-content-between">
        <div class="col-lg-1 col-md-0 py-5 col-sm-0 px-5 position-relative"></div>
        <div class="col-lg-4 col-md-5 order-md-1 order-sm-2 ps-5 pt-5 pe-5 position-relative">
              <div class="mb-3"><span class="h4">White Tuque</span>
            <span class="badge rounded-pill text-bg-success">Commercial</span></div>
            <p>A cybersecurity survey web application that also features blog posts.</p>
            <div class="position-absolute bottom-0" style="right:50px;"><a class="btn btn-primary border-radius-0"
                    href="/whiteTuque">Learn More</a></div>
        </div>
        <div class="col-lg-5 col-md-5 order-md-2 order-sm-1 py-5 px-5 position-relative shadow"
            style="background: #333; border-radius: 130px 0 0 0; height: 320px;">
            <div class="py-5 px-5 position-absolute w-100 d-flex justify-content-center align-items-center"
                style="background: #fff7f3;; border-radius: 130px 0 0 0; height: 290px; top:30px;">
                <img class="" src="/images/projects/WT_logo.png" style="width:200px;" alt="">
            </div>
        </div>
    </div>


    <!-- personal project -->
    <div class="row" style="margin-top: 200px; padding: 0 150px;">
        
         <div class="col-lg-4 col-md-6">
            <div class="card mb-3" style="z-index:888;">
                <div class="card-body d-flex justify-content-center shadow" style="height: 220px;">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div class="card_image d-flex align-items-center justify-content-center">
                            <i class="bi bi-chat-dots-fill me-1" style="font-size:80px;"></i>
                            <i class="bi bi-chat-dots" style="font-size:80px; transform:scaleX(-1);"></i>
                        </div>
                        <div class="card_overlay" style="">
                            <div class="overlay_text">
                                <h4>Chat App</h4>
                                 <small class="d-block">Node.js | React | MongoDB</small>
                                <a class="py-2 px-3 mt-3" href="https://main--comp2068-chatapp.netlify.app/"><i class="bi bi-browser-chrome"></i>Live Page</a>
                                <a class="py-2 px-3 mt-3 bg-white" href="https://github.com/DainShin/chatapp"><i class="bi bi-git"></i>GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6" style="z-index:888;">
            <div class="card mb-3" style="z-index:888;">
                <div class="card-body d-flex justify-content-center shadow" style="height: 220px;">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div class="card_image d-flex flex-column align-items-center justify-content-center">
                            <img src="./images/projects/cosmos_logo.png"
                                style="object-fit:contain; width: 200px; height: 150px;" alt="">
                        </div>
                        <div class="card_overlay" style="">
                            <div class="overlay_text">
                                <h5>Game Subscription</h5>
                                <small class="d-block">.NET MVC | MySQL</small>
                                <a class="py-2 px-3 mt-3 bg-white" href="https://github.com/DainShin/cosmos"><i class="bi bi-git"></i>GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card mb-3" style="z-index:888;">
                <div class="card-body d-flex justify-content-center shadow" style="height: 220px;">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div class="card_image d-flex align-items-center justify-content-center">
                            <i class="bi bi-film" style="font-size:80px;"></i>     
                        </div>
                        <div class="card_overlay" style="">
                            <div class="overlay_text">
                                <h4>Inflix</h4>
                                 <small class="d-block">Python</small>
                                <a class="py-2 px-3 mt-3" href="https://2024-movie-recommendation-system.streamlit.app/"><i class="bi bi-browser-chrome"></i>Live Page</a>
                                <a class="py-2 px-3 mt-3 bg-white" href="https://github.com/DainShin/movie-recommendation-system"><i class="bi bi-git"></i>GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card mb-3" style="z-index:888;">
                <div class="card-body d-flex justify-content-center shadow" style="height: 220px;">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div class="card_image">
                            <i class="bi bi-easel" style="font-size:80px;"></i>
                        </div>
                        <div class="card_overlay" style="">
                            <div class="overlay_text">
                                <h4>Sketch</h4>
                                <small class="d-block">Node.js | MongoDB</small>
                                <a class="py-2 px-3 mt-3" href="https://comp2068jsframeworks-1-tasz.onrender.com"><i class="bi bi-browser-chrome"></i>Live Page</a>
                                 <a class="py-2 px-3 mt-3 bg-white" href="https://github.com/DainShin/COMP2068JSFrameworks/tree/main/ASSIGNMENT02"><i class="bi bi-git"></i>GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card mb-3" style="z-index:888;">
                <div class="card-body d-flex justify-content-center shadow" style="height: 220px;">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div class="card_image">
                            <i class="bi bi-calculator" style="font-size:80px;"></i>
                        </div>
                        <div class="card_overlay" style="">
                            <div class="overlay_text">
                                <h4>BEDMAS Calculator</h4>
                                <small class="d-block">Android | Kotlin</small>
                                 <a class="py-2 px-3 mt-3 bg-white" href="https://github.com/DainShin/COMP3025-200535561-DainShin-Calculator2"><i class="bi bi-git"></i>GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card mb-3" style="z-index:888;">
                <div class="card-body d-flex justify-content-center shadow" style="height: 220px;">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div class="card_image">
                            <i class="bi bi-airplane-engines-fill" style="font-size:80px;"></i>
                        </div>
                        <div class="card_overlay" style="">
                            <div class="overlay_text">
                                <h4>Plane Game</h4>
                                <small class="d-block">Unity | C#</small>
                              <a class="py-2 px-3 mt-3 bg-white" href="https://github.com/DainShin/COMP3025-ICES/tree/main/ICE12"><i class="bi bi-git"></i>GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card mb-3" style="z-index:888;">
                <div class="card-body d-flex justify-content-center shadow" style="height: 220px;">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div class="card_image">
                            <i class="bi bi-calendar" style="font-size:80px;"></i>
                        </div>
                        <div class="card_overlay" style="">
                            <div class="overlay_text">
                                <h4>To Do App</h4>
                                <small class="d-block">Android | Kotlin | Firebase</small>
                                  <a class="py-2 px-3 mt-3 bg-white" href="https://github.com/DainShin/COMP3025-200535561-DainShin-Todo-Part2"><i class="bi bi-git"></i>GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card mb-3" style="z-index:888;">
                <div class="card-body d-flex justify-content-center shadow" style="height: 220px;">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div class="card_image">
                            <i class="bi bi-search" style="font-size:80px;"></i>
                        </div>
                        <div class="card_overlay" style="">
                            <div class="overlay_text">
                                <h4>Brewery Finder</h4>
                                <small class="d-block">JavaFx</small>
                                <a class="py-2 px-3 mt-3 bg-white" href="https://github.com/DainShin/St200535561Assignment2"><i class="bi bi-git"></i>GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card mb-3" style="z-index:888;">
                <div class="card-body d-flex justify-content-center shadow" style="height: 220px;">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div class="card_image">
                            <i class="bi bi-bar-chart-fill" style="font-size:80px;"></i>
                        </div>
                        <div class="card_overlay" style="">
                            <div class="overlay_text">
                                <h4>Unemployment Chart</h4>
                                <small class="d-block">JavaFx | MySQL</small>
                                 <a class="py-2 px-3 mt-3 bg-white" href="https://github.com/DainShin/St200535561Assignment1"><i class="bi bi-git"></i>GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






</div>

<!--//projects -->